.Header{
    display:flex;
    background-color: thistle;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:60px;
    box-sizing: border-box;
}
.Header button{
    width: 100px;
    height: 30px;
}
